* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-color: rgb(122, 122, 122);
    padding: 0 5rem;
}

.navbar {
    display: flex;
    flex-direction: column;
}

nav {
    width: 90%;
   overflow: hidden;
   margin: 0px auto;
}

nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgb(97, 97, 97);
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
    outline-offset: 15px;
  text-shadow: 1px 1px 15px #427388; 
}
nav ul li a:hover {
    color: aqua;
}
nav .title{
    width: 100%;
    height: 211px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 0;
    color: white;
}
.image-logo{
    width: 200px;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 130px;
}
.image-logo img{
    width: 100%;
}
.product {
    width: 100%;
    display: flex;
}

.product>div {
    width: 33.3333333%;
    height: 694px;
}

.information .content {
    height: 50%;
}

.information .content span {
    width: 75%;
}

.information .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.information .buy {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.information .buy button {
    padding: 1rem;
    font-size: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    background-color: #85594D;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}
button:hover{
  outline-offset: 15px;
  text-shadow: 1px 1px 15px #427388; 
  transform: scale(0.8);
}

.image-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: scroll 20s ease-in-out infinite;
}

.image-product img {
    width: 500px;
    height: 500px;
    animation: scroll 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.image-product .bottom-image {
    width: 400px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 10px #85594D;
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(8%);
    }

    100% {
        transform: translateY(0%);
    }
}

.image-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-next div {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.image-next .image-next-1{
    box-shadow: 0 0 10px #85594D;
}
.image-next .image-next-1:hover{
    box-shadow: 0 0 50px #85594D;
}
.image-next .image-next-2{
    box-shadow: 0 0 10px #1E52A9;
}
.image-next .image-next-2:hover{
    box-shadow: 0 0 50px #1E52A9;
}
.image-next .image-next-3{
    box-shadow: 0 0 10px #e0dedd;
}
.image-next .image-next-3:hover{
    box-shadow: 0 0 50px #e0dedd;
}
.image-next .image-next-4{
    box-shadow: 0 0 10px #F0ADBD;
}
.image-next .image-next-4:hover{
    box-shadow: 0 0 50px #F0ADBD;
}

.image-next div img {
    width: 100%;
}

.image-1 {
    box-shadow: 0 10px 10px #85594D !important;
}
.image-2 {
    box-shadow: 0 10px 10px #1E52A9!important;
}

.image-3 {
    box-shadow: 0 10px 10px #e0dedd !important;
}

.image-4 {
    box-shadow: 0 10px 10px #F0ADBD !important;
}
.button-1{
    background-color: #85594D !important;
}
.button-2{
    background-color: #1E52A9 !important;
}
.button-3{
    background-color: #e0dedd !important;
}
.button-4{
    background-color: #F0ADBD !important;
}